.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
}

.Button:hover {
    background-color: lightgreen !important;
    color: black !important;
}

.Button.Red {
    background-color: red;
}

.Button.Red:hover {
    background-color: salmon !important;
}
